    <div class="menu-barop">

        <ul>

             <li><a href="/profile">Profile</a></li>
            <li><a href="/profile/allOrders">Orders</a></li>
            <li><a href="/profile/:id/newOrder">New Orders</a></li>
            

    </div>
    <hr color="blue" size=3>

{{!-- <form action="/profile/dataProfileP" method="post">
  <label> Name:
    <input type="text" name="name" />
  </label>
  <label> Address:
    <input type="text" name="address" />
  </label>
  <label> Country:
    <input type = "text" name="description"  />
  </label>
  {{!-- <label> Type of Services:
    <input type = "text" name="description"  />
  </label> --}}
  <button type="submit"> Create </button>
</form> --}}


<div class="relative bg-white">
  <div class="lg:absolute lg:inset-0">
    <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
      <img class="order2" src="https://i.postimg.cc/nV1tLYGW/luna.png" alt="">
    </div>
  </div>
  <div class="relative py-16 px-4 sm:py-24 sm:px-6 lg:px-8 lg:max-w-7xl lg:mx-auto lg:py-32 lg:grid lg:grid-cols-2">
    <div class="lg:pr-8">
      <div class="max-w-md mx-auto sm:max-w-lg lg:mx-0">
        <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">User Profile</h2>
        <p class="mt-4 text-lg text-gray-500 sm:mt-3">We’d love to hear and know about you! Please fill out the next labels to keep each other.</p>
        <form action="/profile/{{foundEditProfile._id}}/edit" method="POST" class="mt-9 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8">
          <div>
            <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
            <div class="mt-1">
              <input type="text" name="name" value="{{foundEditProfile.name}}" autocomplete="given-name" class="block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
            </div>
          </div>
          <div>
            <label for="address" class="block text-sm font-medium text-gray-700">Address</label>
            <div class="mt-1">
              <input type="text" name="address" value="{{foundEditProfile.address}}" autocomplete="family-name" class="block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
            </div>
          </div>
          <div class="sm:col-span-2">
            <label for="country" class="block text-sm font-medium text-gray-700">Country</label>
            <div class="mt-1">
              <input name="country" type="text" value="{{foundEditProfile.country}}" autocomplete="country" class="block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
            </div>
          </div>
          <div class="text-right sm:col-span-2">
            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

