<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="stylesheet/styles.css">
    <title>NarigonesYLanudos</title>
</head>
<body>
    <div class="menu-bar">

        <ul>
            <li <i class="bi-house-door-fill"></i><a href="/">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a>
                <div class="sub-menu-1">
                    <ul>
                    <li><a href="#">Beauty Shop</a></li>
                    <li><a href="#">Photo Studio</a></li>
                    <li><a href="#">Hotel</a></li>
                    <li><a href="#">DayCare</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Location</a></li>
            <br>
            <li><a href="#"><i class="bi bi-person-fill"></i>Account</a>
                <div class="sub-menu-1">
                    <ul>
                    <li><a href="/auth/register">Sign up</a></li>
                    <li><a href="/auth/login">Log in</a></li>
                    </ul>
                </div>
            </li>

        </ul>
    </div>

    {{{ body }}}
  
</body>
</html>