{{!-- ./views/profile.hbs --}}


{{!-- {{currentUser.username}}

<h1>Mi perfil</h1>

<p>Mensage: {{ currentUser.msg}}</p>

<p>Tu usuario: {{ currentUser.username }}</p>

<p>Tu email: {{currentUser.email}}</p> --}}

    <div class="menu-barop">

        <ul>

            <li><a href="/profile/dataProfileP">Profile</a></li>
            <li><a href="/profile/allOrders">Orders</a></li>
            <li><a href="/profile/:id/newOrder">New Orders</a></li>

    </div>